#landing-page{
    background: #192B3F;
    height: 100vh;
    

    p{
        color: white;
    }
    img{
        width: 400px;
        height: 400px;
    }

    .login-box{
        position: relative;
        border-radius: 10px;
    
        .login-snip{
            .login{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                transform: rotateY(180deg);
                backface-visibility: hidden;
                transition: all .4s linear            
            }

            .sign-up-form{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                transform: rotateY(180deg);
                backface-visibility: hidden;
                transition: all .4s linear            
            }

            .sign-in{
                display: none;
            }


            .sign-up{
                display: none;
            }

            .login-space {
                .group .check {
                    display: none
                }
            }

        }
    }

}

